* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
   background: linear-gradient(45deg,#552C88,#576C76,#045f80,#23d5ad);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    font-family: 'Times New Roman', Times, serif;
}
@keyframes color{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    0%{
        background-position: 0% 50%;
    }
}
.logo {
    height: 50px;
    width: 50px;
    background-image: url(logo2.jpg);
    background-size: cover;
    border-radius: 50%;
    display: inline-block;
}

header {
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.link {
    width: 100%;
}

a {
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    color: rgb(1, 18, 17);
}

a:hover {
    text-decoration: none;
    font-weight: 600;
    border: 2px solid rgb(245, 242, 242);
}

.href {
    font-size: 18px;
    display: flex;
    justify-content: space-evenly;
}

#icon{
    position: absolute;
    left: 82%;
    top: 24px;
    right: 0;
    transform: translateY(-50);
    font-size: 16px;
    transition: .5s;

}

.btn {
    color: #fff;
    border-radius: 5px;
    background-color: rgb(244, 244, 6);
    font-weight: 600;
}

input {
    color: #fff;
    border-radius: 5px;
    background-color: rgb(246, 246, 239);
    font-weight: 600;
}
.info{
    
    margin-top: 50px;
    margin-left: 40px;
    width: 50vw;
    text-transform: capitalize;
}
.info h2{
    color: white;
    font-size: 35px;
}
.info p{
    color: white;
    font-size: 16px;
}
.info h1{
    color: rgb(238, 127, 15);
    font-size: 47px;
}
.containt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn2{
    width: 70px;
    height: 40px;
    background-color: chocolate;
    font-size: 20px;
    margin-left: 20px;
    border-radius: 10px;
}
.btn2:hover{
background-color: rgb(109, 232, 154);
}
.connect{
    margin-top: 50px;
    margin-left: 40px;
    width: 30vw;
    text-transform: capitalize;
}
.linker{
    margin-top: 69px;
    text-transform: capitalize;
}
.linker a{
    font-size: 39px;
    color: #0c2632;
}
.owner{
    height: 200px;width: 100vw;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}
.owner img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
.owner_d{
    height: 20px;width: 100vw;
    margin-top: 9px;
    display: flex;
    justify-content: center;
}

.wast{
    height: 40px;width: 100vw;
}
.fill{
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.887);
}
.exam{
    text-align: center;
    text-transform: capitalize;
    color: 0 #14065a;
    font-weight: 900;
}
.name{
    text-align: center;
    margin-top: 55px;
    text-transform: capitalize;
    font-weight: 900;
}